<section class="text-gray-600 body-font bg-indigo-100" id="about">
    <div class="container mx-auto flex px-5 py-20 md:py-34 pt-20 md:flex-row flex-col items-center">
        <div data-aos="fade-right" class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Queens Beauty Studio</h1>
            <p class="mb-8 leading-relaxed">queens beauty studio is one of the best ladies saloon of barnala. it very well known for quality and
                excellent customer services. we provide various services like makeups, hairstyle, pedicure,
                manicure,etc. click on services button to book and details about it particularly.</p>
            <div class="flex flex-col md:flex-row justify-center">
                <a onclick="hrefgen('services')" class="my-2 md:my-0 inline-flex text-center text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Services</a>
                <a onclick="hrefgen('booking')" class="md:ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg">Book Appointment</a>
            </div>
        </div>
        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
            <img data-aos="fade-left" class="object-cover transform-all duration-700 hover:scale-105 hover:shadow-lg object-center rounded h-40 md:h-60 lg:h-96 xxl:h-full" alt="hero" src="/static/img/heroimg.jpg">
        </div>
    </div>
</section>