{% extends "profile.html" %}
{% block userbody %}
<!-- Change Password Section -->
<h2 class="text-2xl font-bold text-gray-800 mb-4">{{ page }}</h2>
<form class="space-y-4" method="post" action="{% url name %}">
    {% csrf_token %}
    {% for field in form %}
    <div class="relative mb-4">
        {{ field.label_tag }}
        {{ field }}
        {% if field.errors %}
        <div id="error">
            {% for error in field.errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
        {% if field.help_text %}
        {{ field.help_text }}
        {% endif %}
    </div>
    {% endfor %}
    <button type="submit" class="w-full px-4 py-2 bg-indigo-500 text-white font-semibold rounded hover:bg-indigo-600 transition duration-300">Save Changes</button>
</form>

<script>
    document.querySelector("main").classList.add("bg-gray-200")

    document.querySelectorAll("input").forEach((e) => {
        e.setAttribute("class", "mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm transition-colors duration-200 ease-in-out")
    });
    document.querySelectorAll("label").forEach((e) => {
        e.setAttribute("class", "leading-7 block text-sm md:text-lg font-medium text-gray-700")
        attr = e.getAttribute("for")
    });
    document.querySelectorAll("#error").forEach((e) => {
        e.setAttribute("class", " text-red-600 ")
    });
    document.querySelectorAll("div ul li").forEach((e) => {
        e.setAttribute("class", "text-indigo-600")
    });
</script>
{% endblock userbody %}