
<div class="share-buttons fixed right-10 bottom-20">
  <a href="#" class="share-button p-4 m-1 bg-indigo-700 text-white rounded-full facebook" data-platform="facebook" data-url="http://your-website.com/offer3" title="Share on Facebook">F</a>
  <a href="#" class="share-button p-4 m-1 bg-indigo-700 text-white rounded-full twitter" data-platform="twitter" data-url="http://your-website.com/offer3" title="Share on Twitter">T</a>
  <a href="#" class="share-button p-4 m-1 bg-indigo-700 text-white rounded-full linkedin" data-platform="linkedin" data-url="http://your-website.com/offer3" title="Share on LinkedIn">L</a>
  <a href="#" class="share-button p-4 m-1 bg-indigo-700 text-white rounded-full whatsapp" data-platform="whatsapp" data-url="http://your-website.com/offer3" title="Share on WhatsApp">W</a>
</div>
 
<script>
 

</script>